@font-face {
  font-family: "SF900";
  font-weight: 900;
  src: url("../fonts/SF-UI-Display-Black.otf"); }
@font-face {
  font-family: "SF700";
  font-weight: 700;
  src: url("../fonts/SF-UI-Display-Bold.otf"); }
@font-face {
  font-family: "SF800";
  font-weight: 800;
  src: url("../fonts/SF-UI-Display-Heavy.otf"); }
@font-face {
  font-family: "SF200";
  font-weight: 200;
  src: url("../fonts/SF-UI-Display-Light.otf"); }
@font-face {
  font-family: "SF500";
  font-weight: 500;
  src: url("../fonts/SF-UI-Display-Medium.otf"); }
@font-face {
  font-family: "SF400";
  font-weight: 400;
  src: url("../fonts/SF-UI-Display-Regular.otf"); }
@font-face {
  font-family: "SF600";
  font-weight: 600;
  src: url("../fonts/SF-UI-Display-Semibold.otf"); }
@font-face {
  font-family: "SF300";
  font-weight: 300;
  src: url("../fonts/SF-UI-Display-Thin.otf"); }
@font-face {
  font-family: "SF100";
  font-weight: 100;
  src: url("../fonts/SF-UI-Display-Ultralight.otf"); }
::-webkit-scrollbar {
  width: 6px !important;
  height: 10px !important; }

::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(70, 70, 70, 0.7); }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #464646; }

.fz-10 {
  font-size: 10px !important; }

.fz-11 {
  font-size: 11px !important; }

.fz-12 {
  font-size: 12px !important; }

.fz-13 {
  font-size: 13px !important; }

.fz-14 {
  font-size: 14px !important; }

.fz-15 {
  font-size: 15px !important; }

.fz-16 {
  font-size: 16px !important; }

.fz-17 {
  font-size: 17px !important; }

.fz-18 {
  font-size: 18px !important; }

.fz-19 {
  font-size: 19px !important; }

.fz-20 {
  font-size: 20px !important; }

.fz-21 {
  font-size: 21px !important; }

.fz-22 {
  font-size: 22px !important; }

.fz-23 {
  font-size: 23px !important; }

.fz-24 {
  font-size: 24px !important; }

.fz-25 {
  font-size: 25px !important; }

.fz-26 {
  font-size: 26px !important; }

.fz-27 {
  font-size: 27px !important; }

.fz-28 {
  font-size: 28px !important; }

.fz-29 {
  font-size: 29px !important; }

.fz-30 {
  font-size: 30px !important; }

.fz-31 {
  font-size: 31px !important; }

.fz-32 {
  font-size: 32px !important; }

.fz-33 {
  font-size: 33px !important; }

.fz-34 {
  font-size: 34px !important; }

.fz-35 {
  font-size: 35px !important; }

.fw-100 {
  font-family: "SF100" !important; }

.fw-200 {
  font-family: "SF200" !important; }

.fw-300 {
  font-family: "SF300" !important; }

.fw-400 {
  font-family: "SF400" !important; }

.fw-500 {
  font-family: "SF500" !important; }

.fw-600 {
  font-family: "SF600" !important; }

.fw-700 {
  font-family: "SF700" !important; }

.fw-800 {
  font-family: "SF800" !important; }

.fw-900 {
  font-family: "SF900" !important; }

.fw--400 {
  font-weight: 400; }

.fw--500 {
  font-weight: 500; }

.fw--600 {
  font-weight: 600; }

p {
  margin: 0 !important; }

.lh-20 {
  line-height: 20px; }

.avt {
  border-radius: 50%;
  object-fit: cover; }

.avt-48 {
  width: 48px;
  height: 48px; }

.avt-80 {
  width: 80px;
  height: 80px; }

.avt-120 {
  width: 120px;
  height: 120px; }

.avt-144 {
  width: 144px;
  height: 144px; }

.btn-custom {
  border-radius: 8px !important;
  border: none !important; }
  .btn-custom:focus {
    outline: 0; }

.border--bottom {
  border-bottom: solid 1px #c5c5c5; }

.bg--primary {
  background-color: #dd6436 !important; }

.bg--gray {
  background-color: #e8e8e8; }

.bg-default {
  background-color: #e9ecef !important; }

.bg--secondary {
  background-color: #efefef; }

.no-border {
  border: none !important; }

.nav--custom {
  border: none !important; }

.btn-eclipse {
  border-radius: 999px !important;
  padding: 8px 32px;
  border: none !important;
  width: max-content; }
  .btn-eclipse:focus {
    outline: 0; }

.btn--primary {
  background-color: #dd6436;
  color: #ffffff; }

.line_break {
  width: 100%;
  height: 27px;
  background: url("../images/icons/line.png") no-repeat;
  background-size: cover; }

.btn-white {
  background-color: #fff !important;
  color: #dd6436; }

.text--primary {
  color: #dd6436 !important; }

.text--secondary {
  color: #666666 !important; }

.text--third {
  color: #ababab !important; }

a {
  text-decoration: none !important; }

.text-page {
  color: #a8a8a8 !important; }

.text-gr {
  color: #c6e67d !important; }

.text-sea {
  color: #5dc0f9 !important; }

.bg-trans {
  background-color: transparent; }

::placeholder {
  color: #ababab !important; }

.border--right {
  border-right: solid 1px #ababab; }

html,
body {
  height: 100%;
  color: rgba(0, 0, 0, 0.87); }

body {
  position: relative;
  z-index: 0; }

.header {
  flex: 0 0 auto !important;
  background-color: #dd6436; }
  .header .logo {
    padding-left: 40px; }
    .header .logo img {
      width: 80px !important;
      height: auto; }
  .header .header_center .item:first-child {
    border-right: solid 1px #e1e1e1; }
  .header .header_center .item select {
    padding: 8px 24px;
    width: 200px;
    border-radius: 999px;
    font-size: 14px;
    line-height: 20px;
    color: #2e2e2e;
    height: 40px; }
    .header .header_center .item select option:hover {
      color: #ffffff !important;
      background-color: #dd6436 !important; }
  .header .header_center .item input {
    border-radius: 999px;
    padding-left: 24px;
    padding-right: 40px;
    width: 300px;
    line-height: 20px;
    height: 40px; }

.search-input {
  position: relative;
  z-index: 2; }
  .search-input .icon-search {
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 16px;
    font-size: 20px;
    z-index: 3; }
    .search-input .icon-search i {
      color: #c5c5c5 !important; }

.input-rounder {
  border-radius: 999px !important;
  padding: 0 40px 0 20px !important; }

.alert_count {
  font-family: "Arial, Helvetica, sans-serif" !important;
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  min-width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #fff;
  color: #dd6436;
  padding: 1px;
  border: solid 1px #fff;
  text-align: center;
  top: -3px;
  right: -1px; }

.dropdown-custom {
  left: -110px !important;
  top: initial !important; }

.dropdown-item:active {
  background-color: #dd6436 !important; }

.dropdown-alert {
  width: 300px !important;
  position: absolute !important;
  max-height: 200px !important;
  overflow: auto !important;
  padding: 0 !important;
  top: initial !important; }
  .dropdown-alert .dropdown-item {
    padding: 4px 8px !important;
    display: -webkit-box;
    max-height: 56px;
    margin: 0 auto;
    font-size: 14px !important;
    line-height: 21px;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    white-space: pre-line;
    margin-bottom: 0 !important; }
    .dropdown-alert .dropdown-item:hover {
      background-color: #464646;
      color: #fff; }

.menu-top .rank-menu {
  width: fit-content; }

.title {
  color: #222222;
  font-family: "SF700" !important;
  font-size: 25px; }

.action {
  cursor: pointer; }

.sub_title {
  color: #666666;
  font-family: "SF600" !important; }

@media screen and (min-width: 768px) {
  .login_area {
    height: 100%; }

  .dropdown-alert {
    left: -170px !important; }

  .navbar-custom {
    padding-top: 24px !important;
    padding-bottom: 32px !important; }

  .login_container {
    align-items: center; }

  .menu-top {
    padding-left: 0; }
    .menu-top .nav-item:last-child {
      margin-left: 32px !important; }

  .menu-home .link-menu::after {
    border-right: solid 1px #fff;
    padding-right: 8px;
    padding-left: 8px;
    width: 1px;
    content: ""; }

  .avt-menu {
    margin-top: -4px; }

  .button-join {
    margin-left: 54px; }

  .search-input {
    width: max-content; }

  .select-search {
    margin-right: 16px; } }
@media screen and (max-width: 768px) {
  .button-join {
    margin-left: 0px; }

  .login_container {
    align-items: start; }

  .search-input {
    width: 100%; }

  .select-search {
    margin-right: 0; }

  .nav-item:not(:first-child) {
    margin-top: 4px !important; }

  .nav-item:last-child {
    margin-top: 16px !important; }

  .menu-home ul {
    padding: 0 32px !important; }
  .menu-home select,
  .menu-home input {
    width: 100% !important; }
  .menu-home .nav-link:first-child {
    border-right: none;
    padding-right: 0; }

  .login_area {
    height: 75%; }

  .navbar-custom {
    padding-top: 0;
    padding-bottom: 0; }

  .menu-top {
    padding-left: 40px; }
    .menu-top .nav-item {
      margin-left: 0px !important; }
    .menu-top .header_right {
      margin-left: 24px; } }
.login_image {
  background-image: url(../images/bg-login.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 56%;
  position: relative;
  z-index: 1; }
  .login_image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2; }
    .login_image .overlay .image-title {
      position: absolute;
      top: 18px;
      left: 40px;
      color: #fff;
      font-size: 36px;
      z-index: 3; }

.login_form .input-custom {
  height: 64px;
  padding-left: 80px;
  border-radius: 8px !important;
  color: #ababab !important;
  border: solid 2px #f6f6f6; }
.login_form .icon-input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  color: #ababab;
  width: 60px;
  height: 60px; }
.login_form .key {
  padding: 17px 23px; }
.login_form .user {
  padding: 20px; }
.login_form .user-icon {
  height: 20px;
  width: 20px;
  background-size: cover;
  background-image: url("../images/icons/user.png"); }
.login_form .key-icon {
  height: 27px;
  background-size: cover;
  width: 14px;
  background-image: url("../images/icons/key.png"); }
.login_form .btn-login {
  background-color: #dd6436;
  color: #fff;
  border-radius: 8px;
  padding: 14px 48px;
  width: fit-content !important;
  text-align: center;
  display: block; }
  .login_form .btn-login:hover {
    background-color: rgba(221, 100, 54, 0.7); }

.login_more .btn-login-more {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-family: "SF500";
  padding-left: 0;
  transition: ease 0.3s all; }
.login_more .btn-icon {
  height: 52px;
  width: 52px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  flex: 0 0 auto; }
.login_more .icon {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%; }
.login_more .btn-fb {
  background-color: #5d8def; }
  .login_more .btn-fb:hover {
    background-color: rgba(93, 141, 239, 0.8); }
  .login_more .btn-fb .btn-icon {
    background-color: #4c7bdb;
    padding: 8px; }
  .login_more .btn-fb .icon-fb {
    background-image: url("../images/icons/fb.png"); }
.login_more .btn-gg {
  background-color: #c95444; }
  .login_more .btn-gg:hover {
    background-color: rgba(201, 84, 68, 0.8); }
  .login_more .btn-gg .btn-icon {
    background-color: #ba4939;
    padding: 8px; }
  .login_more .btn-gg .icon-gg {
    background-image: url("../images/icons/gg.png"); }
.login_more .btn-strava {
  background-color: #e4883c; }
  .login_more .btn-strava:hover {
    background-color: rgba(228, 136, 60, 0.8); }
  .login_more .btn-strava .btn-icon {
    background-color: #e17739;
    padding: 8px; }
  .login_more .btn-strava .icon-strava {
    background-image: url("../images/icons/strava.png"); }
.login_more .btn-txt {
  flex: 1 1 auto; }

.line {
  flex: 1 1 auto;
  border-top: dotted 2px #e8e8e8;
  height: 2px;
  margin-top: 9px; }

.txt-line {
  flex: 0 0 auto;
  color: #ababab;
  margin: 0 12px; }

.container-custom {
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important; }

.content {
  background-color: #efefef !important;
  padding: 8px 16px !important;
  flex: 1 1 auto !important;
  padding-bottom: 48px !important; }
  .content .paging {
    padding: 8px !important; }
  .content .breadcrumb {
    background-color: transparent !important; }
  .content .info-self {
    background-image: url("../images/icons/shoe_top.png");
    background-repeat: no-repeat;
    background-position: left top; }
  .content .award ul {
    list-style-type: none; }
  .content .award li {
    color: #dd6436;
    width: fit-content;
    text-align: center;
    font-weight: 500;
    padding: 4px 20px;
    border-radius: 999px;
    background-color: #f8e3db;
    display: inline-block;
    margin: 8px 8px 0 8px; }
  .content .list_won {
    background: url("../images/background/bg-list.png") no-repeat;
    background-color: transparent !important;
    background-size: cover;
    text-align: center; }
  .content .info {
    background-color: #ffffff !important;
    color: #838486; }
    .content .info .img_self {
      width: 100%;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      display: block; }
      .content .info .img_self img {
        width: 60px;
        height: auto; }
    .content .info p {
      margin-bottom: 4px !important; }
    .content .info .user-name {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030 !important; }
    @media screen and (max-width: 768px) {
      .content .info .name {
        text-align: center; } }
    @media screen and (min-width: 768px) {
      .content .info .name {
        text-align: left; } }
    .content .info .sub-info {
      color: #838486;
      text-transform: uppercase;
      font-size: 12px; }
    .content .info .count {
      color: #959697; }
    .content .info .direct {
      width: 40px;
      height: auto;
      display: flex;
      align-content: center;
      justify-content: center; }
    .content .info .earth_cycle {
      width: 100%;
      display: flex;
      align-items: center;
      overflow-x: auto;
      scrollbar-width: thin !important; }
      .content .info .earth_cycle::-webkit-scrollbar-thumb {
        background-color: #cccccc !important;
        border-radius: 10px;
        width: 10px !important; }
      .content .info .earth_cycle::-webkit-scrollbar {
        height: 6px !important; }
      .content .info .earth_cycle::-webkit-scrollbar-track {
        background-color: transparent !important; }
    .content .info .percent {
      margin-right: 49px;
      width: fit-content;
      text-align: center; }
      .content .info .percent:last-child {
        margin-right: 0; }
      .content .info .percent .earth {
        position: relative;
        z-index: 1; }
        .content .info .percent .earth .img_earth_color {
          position: absolute;
          background-image: url("../images/icons/earth_color.png");
          top: 0;
          background-repeat: no-repeat;
          height: 63px;
          z-index: 2; }
  .content .tag {
    flex: 0 0 auto;
    width: 37px;
    height: 48px;
    margin-right: 12px;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain; }
    .content .tag .rank_number {
      line-height: 16px;
      font-weight: 400;
      color: #ffffff;
      top: 10px;
      width: 100%;
      text-align: center;
      position: absolute;
      margin-bottom: 0 !important; }
    .content .tag p {
      margin-bottom: 0 !important; }
  .content .tag-top3 {
    background-image: url("../images/icons/bow_blue.png"); }
  .content .tag-near {
    background-image: url("../images/icons/bow_gray.png"); }
  .content .tag-self {
    background-image: url("../images/icons/bow_self.png"); }
  .content .top_ten .card-body {
    width: fit-content !important;
    margin: 0 auto; }
  .content .top_ten .card-top {
    position: relative;
    z-index: 1; }
    .content .top_ten .card-top-img {
      object-fit: cover;
      height: 100%;
      width: 100%; }
    .content .top_ten .card-top .img-personal {
      width: 140px;
      height: 140px;
      display: block;
      margin: auto; }
  .content .top_ten .overlay_img {
    height: 80px;
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  .content .top_ten p {
    margin-bottom: 2px !important; }
  .content .top_ten .page_arrow .icon {
    cursor: pointer;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: solid 2px #666666; }
  .content .top_ten .personal-info {
    flex: 1 1 auto;
    color: #666666 !important; }
    .content .top_ten .personal-info p {
      margin-bottom: 0 !important; }

.infomation .item {
  width: 40px;
  height: 40px;
  padding: 4px 6px 6px 6px;
  border-radius: 4px;
  border: solid 1px #ababab; }
  .infomation .item-icon {
    width: 100%;
    height: auto; }
  .infomation .item .icon-save {
    width: 80% !important; }
.infomation .item-save {
  background-color: #e1e1e1;
  position: relative; }
.infomation .avatar {
  position: relative; }
  .infomation .avatar .img_fix {
    position: absolute;
    bottom: -8px;
    right: 16px;
    background-color: #949494;
    border-radius: 50%;
    border: solid 2px #ffffff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .infomation .avatar .img_fix img {
      width: 22px;
      height: 22px;
      object-fit: cover; }

.form_info .input_info {
  background-color: #efefef !important; }

.link_copy {
  border: solid 1px #666666;
  padding: 8px 20px;
  border-radius: 999px; }

.social button {
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border: none;
  background-color: #efefef !important; }
  .social button:hover {
    background-color: #e0e0e0 !important;
    transition: 0.3 all ease-in; }
  .social button:focus {
    outline: 0; }

.hr-custom {
  border-top-color: #e1e1e1 !important;
  width: 60px; }

.content-ranking .info {
  background-color: #ffffff; }
.content-ranking nav .active {
  border-bottom: solid #dd6436 4px !important;
  font-weight: 500;
  color: #666666 !important; }
.content-ranking .menu-nav {
  padding: 12px 8px;
  border: none !important;
  background-color: #ffffff !important;
  margin-right: 32px;
  color: #ababab !important; }
.content-ranking .rank {
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  text-align: center;
  background-color: #f1f1f1; }
.content-ranking .rank-active {
  color: #ffffff;
  background-color: #3078cc !important; }
.content-ranking .img-ranking {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover; }
.content-ranking table {
  background-color: #ffffff !important;
  margin-bottom: 0 !important; }
  .content-ranking table tr:not(:first-child) {
    border-top: solid 1px #c5c5c5; }
  .content-ranking table td {
    text-align: center;
    vertical-align: middle !important;
    border: none; }
.content-ranking .table_personal td:first-child {
  width: 100px !important;
  text-align: center; }
.content-ranking .table_activity td {
  position: relative; }
.content-ranking .table_activity .fa-circle {
  color: #dd6436;
  margin-right: 8px !important;
  position: absolute;
  top: calc(50% - 8px);
  left: 0; }
.content-ranking .table_activity .dot-active {
  color: #4fc853; }

.page_number {
  background-color: #e1e1e1;
  line-height: 32px;
  height: 32px;
  text-align: center;
  width: 32px; }

.page_number a,
.page_icon a {
  color: #a8a8a8 !important; }

.table_search tr {
  border: none; }
.table_search td {
  border: none !important;
  text-align: center; }
.table_search td:not(:first-child) {
  border-right: solid 1px #cccccc !important; }

.rules_block {
  margin-top: 24px; }
  .rules_block .title-hl {
    color: #dd6436;
    margin-bottom: 16px; }

.back_to_top {
  display: inline-block;
  width: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 78px !important;
  right: 50px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  border-bottom: 31px solid #464646;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  width: 70px;
  color: #ffffff;
  font-size: 18px;
  color: #ffffff; }
  .back_to_top i {
    top: 8px;
    right: -3px;
    position: absolute; }

.back_to_top:hover {
  cursor: pointer; }

.back_to_top.show {
  opacity: 1;
  visibility: visible; }

.table_center th:not(:first-child) {
  text-align: center; }
.table_center .name_center {
  flex: 1 1 auto;
  text-align: left;
  padding-left: 32px; }
.table_center .rank {
  flex: 0 0 auto;
  font-weight: 500; }
.table_center td {
  font-weight: 400 !important;
  padding: 16px 12px !important; }

.select_table {
  text-align-last: center;
  padding: 4px 24px;
  width: fit-content;
  border-radius: 999px;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  outline: none;
  background-color: #dd6436;
  height: 36px;
  font-weight: 500; }
  .select_table option:hover {
    color: #ffffff !important;
    background-color: #dd6436 !important; }

.detail_content .header_detail {
  min-height: auto !important;
  background: url("../images/background/bg-list.png") no-repeat;
  background-size: cover;
  background-position: top; }
.detail_content .detail_personal thead tr {
  background-color: #dd6436 !important;
  color: #ffffff !important; }
.detail_content .detail_personal td,
.detail_content .detail_personal th {
  text-align: center !important;
  padding: 8px;
  border: none !important; }
.detail_content .detail_personal td {
  font-size: 14px;
  font-weight: 500;
  padding: 16px 8px !important; }

.breadcrumb {
  margin-bottom: 0 !important; }

@media screen and (min-width: 768px) {
  .sidebar_title {
    font-size: 20px; }

  .sidebar_sub_title {
    font-size: 16px; } }
@media screen and (max-width: 768px) {
  .sidebar_title {
    font-size: 18px; }

  .sidebar_sub_title {
    font-size: 15px; } }
/*
    @created: ThuanDD3
    @dated: jul 17, 2019
*/
.modal-custom, .modal-custom .modal-dialog .modal-header .close {
  font-family: "san_francisco_text_regularRg", arial, Helvetica, sans-serif; }

.modal-custom .modal-dialog .record-wrap .item .item-col2 {
  font-family: "san_francisco_textmedium", arial, Helvetica, sans-serif; }

.modal-custom .modal-dialog .modal-header .modal-title, .modal-custom .modal-dialog .record-wrap .item .item-col1 {
  font-family: "san_francisco_textbold", arial, Helvetica, sans-serif; }

.modal-custom {
  padding: 0 !important;
  font-size: 10px; }
  @media only screen and (min-width: 1024px) {
    .modal-custom {
      font-size: 14px; } }
  .modal-custom .modal-dialog .modal-content {
    border: none; }
  .modal-custom .modal-dialog .modal-header {
    border: none;
    padding: 40px 16px;
    align-items: center;
    background-image: url("../images/background/bg-popup.jpg");
    background-size: cover;
    background-position: right center;
    background-attachment: scroll;
    background-repeat: no-repeat; }
    .modal-custom .modal-dialog .modal-header h5 {
      font-size: 18px !important;
      font-weight: bold;
      text-align: center; }
    .modal-custom .modal-dialog .modal-header .modal-title {
      font-size: 2.7142857143em;
      margin: 0 auto;
      text-align: center; }
      .modal-custom .modal-dialog .modal-header .modal-title span {
        color: #dd6436; }
    .modal-custom .modal-dialog .modal-header .close {
      width: 40px;
      height: 40px;
      margin: -20px -20px 0 0;
      padding: 0;
      position: absolute;
      top: 0;
      right: 0;
      background: #ffffff;
      border-radius: 50%;
      opacity: 1;
      font-weight: normal;
      outline: none;
      font-size: 1.7142857143em; }
      @media only screen and (min-width: 1025px) {
        .modal-custom .modal-dialog .modal-header .close {
          width: 48px;
          height: 48px;
          margin: -21px -25px 0px 0;
          font-size: 1.4285714286em; } }
      .modal-custom .modal-dialog .modal-header .close span {
        position: relative;
        top: 0px; }
  .modal-custom .modal-dialog .modal-body {
    padding: 0; }
  .modal-custom .modal-dialog .record-wrap {
    max-height: 400px;
    overflow-y: auto;
    counter-reset: my-sec-counter; }
    .modal-custom .modal-dialog .record-wrap .item {
      background-color: #fafafa; }
      .modal-custom .modal-dialog .record-wrap .item.item-sepe {
        background-color: #ffffff; }
      .modal-custom .modal-dialog .record-wrap .item .item-wrap {
        max-width: 940px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
        padding: 9px 20px 8px; }
        @media only screen and (min-width: 320px) {
          .modal-custom .modal-dialog .record-wrap .item .item-wrap {
            padding: 9px 5px 10px; } }
        @media only screen and (min-width: 1024px) {
          .modal-custom .modal-dialog .record-wrap .item .item-wrap {
            padding: 9px 20px 10px; } }
      .modal-custom .modal-dialog .record-wrap .item .item-col1 {
        width: 15%;
        padding-left: 10px;
        font-weight: bold;
        font-size: 1.2857142857em;
        color: #dd6436; }
        @media only screen and (min-width: 768px) {
          .modal-custom .modal-dialog .record-wrap .item .item-col1 {
            padding-left: 20px; } }
      .modal-custom .modal-dialog .record-wrap .item .item-col2 {
        width: 15%;
        text-align: center;
        font-size: 1.5714285714em; }
        .modal-custom .modal-dialog .record-wrap .item .item-col2 p:before {
          counter-increment: my-sec-counter 1;
          content: "" counter(my-sec-counter); }
        .modal-custom .modal-dialog .record-wrap .item .item-col2 p {
          display: inline-block;
          padding: 3px 0;
          width: 30px;
          height: 30px;
          background-color: #3078cc;
          color: #fff;
          border-radius: 50%;
          text-align: center; }
          @media only screen and (min-width: 1024px) {
            .modal-custom .modal-dialog .record-wrap .item .item-col2 p {
              width: 41px;
              height: 41px;
              padding: 5px 0; } }
      .modal-custom .modal-dialog .record-wrap .item .item-col3 {
        width: 65%;
        font-size: 14px;
        color: #515151; }
      .modal-custom .modal-dialog .record-wrap .item .item-col4 {
        width: 5%;
        color: #dd6436;
        vertical-align: middle; }
        .modal-custom .modal-dialog .record-wrap .item .item-col4 i {
          font-size: 15px;
          line-height: 28px; }
          @media only screen and (min-width: 1024px) {
            .modal-custom .modal-dialog .record-wrap .item .item-col4 i {
              line-height: 40px; } }

.footer {
  background-color: #464646 !important;
  height: 80px;
  line-height: 80px;
  position: relative;
  padding: 0 8px;
  flex: 0 0 auto !important; }
  .footer .logo_footer {
    width: 70px;
    height: auto; }
  .footer .logo_strava {
    height: 40px;
    width: auto;
    position: absolute; }
  .footer .text-footer {
    color: #9f9f9f; }
  @media only screen and (max-width: 768px) {
    .footer .logo_strava {
      right: 0;
      top: 0; }
    .footer .text-footer {
      position: absolute;
      right: 8px;
      line-height: 26px;
      bottom: 11px; } }
  @media only screen and (min-width: 768px) {
    .footer {
      display: flex;
      justify-content: center;
      align-content: center; }
      .footer .logo_strava {
        right: 32px;
        top: calc(50% - 20px); } }

.card_activity .number {
  font-size: 20px;
  font-weight: 500; }
.card_activity .label {
  color: #666666;
  font-weight: 400;
  font-size: 14px; }
@media only screen and (max-width: 768px) {
  .card_activity .info_activity {
    text-align: center; } }
.card_activity .item {
  width: fit-content;
  margin: 0 auto; }

.modal-custom, .modal-custom .modal-dialog .modal-header .close {
  font-family: "san_francisco_text_regularRg", arial, Helvetica, sans-serif; }

.modal-custom .modal-dialog .record-wrap .item .item-col2 {
  font-family: "san_francisco_textmedium", arial, Helvetica, sans-serif; }

.modal-custom .modal-dialog .modal-header .modal-title, .modal-custom .modal-dialog .record-wrap .item .item-col1 {
  font-family: "san_francisco_textbold", arial, Helvetica, sans-serif; }

/*# sourceMappingURL=style.css.map */
