// .card_activity {
//     ul {
//         list-style: none;
//     }

//     ul li {
//         margin: 5px 4px;
//         float: left;
//     }

//     .wp-icon {
//         cursor: pointer;
//         width: 36px;
//         height: 36px;
//         // border-radius: 50%;
//         text-align: center;
//         line-height: 36px;
//         vertical-align: middle;
//         color: #fff;
//         margin-right: 5px;
//     }

//     .fa-facebook-f {
//         background: #3B5998;
//     }

//     .fa-linkedin {
//         background: #0077B5;
//     }

//     .fa-twitter {
//         background: #1DA1F2;
//     }

//     .fa-instagram {
//         background: #d6249f;
//         background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
//         box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
//     }

//     .fa-google-plus {
//         background: #D04338;
//     }

//     .fa-youtube {
//         background: #FF0000;
//     }

//     .fa-pinterest {
//         background: #BD081C;
//     }

// }

.card_activity {
    .number {
        font-size: 20px;
        font-weight: 500;
    }

    .label {
        color: $textSecondary;
        font-weight: 400;
        font-size: 14px;
    }

    .info_activity {
        @include scss_maxw(768px) {
            text-align: center;
        }
    }

    .item {
        width: fit-content;
        margin: 0 auto;
    }

}