$cl-or: #dd6436;
$cl-or-2: #f8e3db;
$cl-blue: #3c7ff7;
$clw: #ffffff;
$cl-sea: #5dc0f9;
$cl-gr: #c6e67d;
$cl-only-c: #cccccc;

/////////////////////////
$primaryColor: #dd6436;
$primaryColorPage: #dd6436;
$textPrimary: #222222;
$textSecondary: #666666;
$textThird: #ababab;
$textColorPage: #a8a8a8;
$footerColor: #464646;
$sizeInput: 60px;
$sizeButton: 52px;
$cl-bg: #e9ecef;

@mixin color($color) {
  color: $color !important;
}
// Start Font/////////////////////////////
@font-face {
  font-family: "SF900";
  font-weight: 900;
  src: url("../fonts/SF-UI-Display-Black.otf");
}

@font-face {
  font-family: "SF700";
  font-weight: 700;
  src: url("../fonts/SF-UI-Display-Bold.otf");
}

@font-face {
  font-family: "SF800";
  font-weight: 800;
  src: url("../fonts/SF-UI-Display-Heavy.otf");
}

@font-face {
  font-family: "SF200";
  font-weight: 200;
  src: url("../fonts/SF-UI-Display-Light.otf");
}

@font-face {
  font-family: "SF500";
  font-weight: 500;
  src: url("../fonts/SF-UI-Display-Medium.otf");
}

@font-face {
  font-family: "SF400";
  font-weight: 400;
  src: url("../fonts/SF-UI-Display-Regular.otf");
}

@font-face {
  font-family: "SF600";
  font-weight: 600;
  src: url("../fonts/SF-UI-Display-Semibold.otf");
}

@font-face {
  font-family: "SF300";
  font-weight: 300;
  src: url("../fonts/SF-UI-Display-Thin.otf");
}

@font-face {
  font-family: "SF100";
  font-weight: 100;
  src: url("../fonts/SF-UI-Display-Ultralight.otf");
}

// End Font/////////////////////////////

// Base ///////////////////////////////////////////

::-webkit-scrollbar {
  width: 6px !important;
  height: 10px !important;
}

//* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgba($color: $footerColor, $alpha: 0.7);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgba($color: $footerColor, $alpha: 1);
}

@for $i from 0 through 25 {
  .fz-#{$i + 10} {
    font-size: $i + 10px !important;
  }
}

@for $i from 1 through 9 {
  .fw-#{$i}00 {
    font-family: "SF" + $i + "00" !important;
  }
}

@for $i from 4 through 6 {
  .fw--#{$i}00 {
    font-weight: $i * 100;
  }
}

p {
  margin: 0 !important;
}

.lh-20 {
  line-height: 20px;
}

.avt {
  border-radius: 50%;
  object-fit: cover;
}

.avt-48 {
  width: 48px;
  height: 48px;
}

.avt-80 {
  width: 80px;
  height: 80px;
}

.avt-120 {
  width: 120px;
  height: 120px;
}

.avt-144 {
  width: 144px;
  height: 144px;
}

.btn-custom {
  border-radius: 8px !important;
  border: none !important;

  &:focus {
    outline: 0;
  }
}
.border--bottom {
  border-bottom: solid 1px #c5c5c5;
}

.bg--primary {
  background-color: $primaryColorPage !important;
}

.bg--gray {
  background-color: #e8e8e8;
}
.bg-default {
  background-color: $cl-bg !important;
}
.bg--secondary {
  background-color: #efefef;
}

.no-border {
  border: none !important;
}

.nav--custom {
  border: none !important;
}

.btn-eclipse {
  border-radius: 999px !important;
  padding: 8px 32px;
  border: none !important;
  width: max-content;

  &:focus {
    outline: 0;
  }
}
.btn--primary {
  background-color: $cl-or;
  color: $clw;
}

.line_break {
  width: 100%;
  height: 27px;
  background: url("../images/icons/line.png") no-repeat;
  background-size: cover;
}

.btn-white {
  background-color: #fff !important;
  color: $primaryColorPage;
}

.text--primary {
  color: $primaryColor !important;
}

.text--secondary {
  color: $textSecondary !important;
}

.text--third {
  color: $textThird !important;
}
a {
  text-decoration: none !important;
  &:hover {
    // color: initial !important;
  }
}
.text-page {
  color: $textColorPage !important;
}

.text-gr {
  @include color($cl-gr);
}

.text-sea {
  @include color($cl-sea);
}

.bg-trans {
  background-color: transparent;
}

::placeholder {
  color: $textThird !important;
}

.border--right {
  border-right: solid 1px $textThird;
}

html,
body {
  height: 100%;
  // font-family: "SF300" !important;
  color: rgba($color: #000000, $alpha: 0.87);
}

body {
  position: relative;
  z-index: 0;
}
// End Base //////////////////////////////////////
