.footer {
  background-color: $footerColor !important;
  height: 80px;
  line-height: 80px;
  position: relative;
  padding: 0 8px;
  flex: 0 0 auto !important;

  .logo_footer {
    width: 70px;
    height: auto;
  }

  .logo_strava {
    height: 40px;
    width: auto;
    position: absolute;
  }

  .text-footer {
    color: #9f9f9f;
  }

  @include scss_maxw(768px) {
    .logo_strava {
      right: 0;
      top: 0;
    }

    .text-footer {
      position: absolute;
      right: 8px;
      line-height: 26px;
      bottom: 11px;
    }
  }

  @include scss_minw(768px) {
    display: flex;
    justify-content: center;
    align-content: center;
    .logo_strava {
      right: 32px;
      top: calc(50% - 20px);
    }
  }
}
