.header {
  flex: 0 0 auto !important;
  background-color: $primaryColorPage;
  // height: 150px !important;
  // padding: 32px 24px 0 24px;
  // font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif !important;

  .logo {
    // font-size: 35px;
    // text-transform: uppercase;

    padding-left: 40px;

    img {
      width: 80px !important;
      height: auto;
    }
  }

  // .header_center,
  // .header_right {
  //     padding: 0 16px;
  // }

  .header_center {
    .item {
      // padding: 0 8px;

      &:first-child {
        border-right: solid 1px #e1e1e1;
      }

      select {
        padding: 8px 24px;
        width: 200px;
        border-radius: 999px;
        font-size: 14px;
        line-height: 20px;
        color: #2e2e2e;
        height: 40px;

        option {
          &:hover {
            color: $clw !important;
            background-color: $cl-or !important;
          }
        }
      }

      input {
        border-radius: 999px;
        padding-left: 24px;
        padding-right: 40px;
        width: 300px;
        line-height: 20px;
        height: 40px;
      }
    }
  }
}
.search-input {
  position: relative;
  z-index: 2;

  .icon-search {
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 16px;
    font-size: 20px;
    z-index: 3;

    i {
      color: #c5c5c5 !important;
    }
  }
}
.input-rounder {
  border-radius: 999px !important;
  padding: 0 40px 0 20px !important;
}
.alert_count {
  font-family: "Arial, Helvetica, sans-serif" !important;
  $alertSize: 12px;
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  min-width: $alertSize;
  height: $alertSize;
  border-radius: 6px;
  background-color: #fff;
  color: $primaryColorPage;
  padding: 1px;
  border: solid 1px #fff;
  text-align: center;
  top: -3px;
  right: -1px;
}

.dropdown-custom {
  left: -110px !important;
  top: initial !important;
}

.dropdown-item {
  &:active {
    background-color: $cl-or !important;
  }
}

.dropdown-alert {
  // left: -170px !important;
  width: 300px !important;
  position: absolute !important;
  max-height: 200px !important;
  overflow: auto !important;
  padding: 0 !important;
  top: initial !important;

  .dropdown-item {
    padding: 4px 8px !important;
    display: -webkit-box;
    max-height: 56px;
    margin: 0 auto;
    font-size: 14px !important;
    line-height: 21px;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    white-space: pre-line;

    &:hover {
      background-color: rgba($color: $footerColor, $alpha: 1);
      color: #fff;
    }

    margin-bottom: 0 !important;
  }
}

.menu-top {
  .rank-menu {
    width: fit-content;
  }
}
