.title {
  color: $textPrimary;
  font-family: "SF700" !important;
  font-size: 25px;
}

.action {
  cursor: pointer;
}

.sub_title {
  color: $textSecondary;
  font-family: "SF600" !important;
}

@media screen and (min-width: 768px) {
  .login_area {
    height: 100%;
  }

  .dropdown-alert {
    left: -170px !important;
  }

  .navbar-custom {
    padding-top: 24px !important;
    padding-bottom: 32px !important;
  }

  .login_container {
    align-items: center;
  }

  .menu-top {
    padding-left: 0;

    .nav-item {
      &:last-child {
        margin-left: 32px !important;
      }
    }
  }

  .menu-home {
    .link-menu {
      &::after {
        border-right: solid 1px #fff;
        padding-right: 8px;
        padding-left: 8px;
        width: 1px;
        content: "";
      }
    }
  }

  .avt-menu {
    margin-top: -4px;
  }

  .button-join {
    margin-left: 54px;
  }

  .search-input {
    width: max-content;
  }

  .select-search {
    margin-right: 16px;
  }
}

@media screen and (max-width: 768px) {
  .button-join {
    margin-left: 0px;
  }

  .login_container {
    align-items: start;
  }

  .search-input {
    width: 100%;
  }

  .select-search {
    margin-right: 0;
  }

  .nav-item:not(:first-child) {
    margin-top: 4px !important;
  }

  .nav-item:last-child {
    margin-top: 16px !important;
  }

  .menu-home {
    ul {
      padding: 0 32px !important;
    }

    select,
    input {
      width: 100% !important;
    }

    .nav-link:first-child {
      border-right: none;
      padding-right: 0;
    }
  }

  .login_area {
    height: 75%;
  }

  .navbar-custom {
    padding-top: 0;
    padding-bottom: 0;
  }

  .menu-top {
    padding-left: 40px;

    .nav-item {
      margin-left: 0px !important;
    }

    .header_right {
      margin-left: 24px;
    }
  }
}

.login_image {
  background-image: url(../images/bg-login.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 56%;
  position: relative;
  z-index: 1;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.2);
    z-index: 2;

    .image-title {
      position: absolute;
      top: 18px;
      left: 40px;
      color: #fff;
      font-size: 36px;
      z-index: 3;
    }
  }
}

#login_form {
  // display: none;
}

.login_form {
  .input-custom {
    height: 64px;
    padding-left: 80px;
    border-radius: 8px !important;
    color: $textThird !important;
    border: solid 2px #f6f6f6;
  }

  .icon-input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;

    color: $textThird;
    width: $sizeInput;
    height: $sizeInput;
  }

  .key {
    padding: 17px 23px;
  }

  .user {
    padding: 20px;
  }

  .user-icon {
    height: 20px;
    width: 20px;
    background-size: cover;
    background-image: url("../images/icons/user.png");
  }

  .key-icon {
    height: 27px;
    background-size: cover;
    width: 14px;
    background-image: url("../images/icons/key.png");
  }

  .btn-login {
    background-color: $primaryColor;

    &:hover {
      background-color: rgba($color: $primaryColor, $alpha: 0.7);
    }

    color: #fff;
    border-radius: 8px;
    padding: 14px 48px;
    width: fit-content !important;
    text-align: center;
    display: block;
  }
}

.login_more {
  .btn-login-more {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-family: "SF500";
    padding-left: 0;
    transition: ease 0.3s all;
  }

  .btn-icon {
    height: $sizeButton;
    width: $sizeButton;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    flex: 0 0 auto;
  }

  .icon {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .btn-fb {
    background-color: #5d8def;

    &:hover {
      background-color: rgba($color: #5d8def, $alpha: 0.8);
    }

    .btn-icon {
      background-color: #4c7bdb;
      padding: 8px;
    }

    .icon-fb {
      background-image: url("../images/icons/fb.png");
    }
  }

  .btn-gg {
    background-color: #c95444;

    &:hover {
      background-color: rgba($color: #c95444, $alpha: 0.8);
    }

    .btn-icon {
      background-color: #ba4939;
      padding: 8px;
    }

    .icon-gg {
      background-image: url("../images/icons/gg.png");
    }
  }

  .btn-strava {
    background-color: #e4883c;

    &:hover {
      background-color: rgba($color: #e4883c, $alpha: 0.8);
    }

    .btn-icon {
      background-color: #e17739;
      padding: 8px;
    }

    .icon-strava {
      background-image: url("../images/icons/strava.png");
    }
  }

  .btn-txt {
    flex: 1 1 auto;
  }
}

.line {
  flex: 1 1 auto;
  border-top: dotted 2px #e8e8e8;
  height: 2px;
  margin-top: 9px;
}

.txt-line {
  flex: 0 0 auto;
  color: $textThird;
  margin: 0 12px;
}

////////////////////////// END LOGIN ////////////////
