
//---------------------------------------------------------------------------------------//
//--------.  MIXING  .-------------------------------------------------------------------//
//---------------------------------------------------------------------------------------//

$font-sf-reg: 'san_francisco_text_regularRg';
$font-sf-reg1: 'san_francisco_textregular_g1';
$font-sf-reg2: 'san_francisco_textregular_g2';
$font-sf-reg3: 'san_francisco_textregular_g3';
$font-sf-med: 'san_francisco_textmedium';
$font-sf-bold: 'san_francisco_textbold';


%sfReg { font-family: $font-sf-reg, arial, Helvetica, sans-serif; }
%sfReg1 { font-family: $font-sf-reg1, arial, Helvetica, sans-serif; }
%sfReg2 { font-family: $font-sf-reg2, arial, Helvetica, sans-serif; }
%sfReg3 { font-family: $font-sf-reg3, arial, Helvetica, sans-serif; }
%sfMed { font-family: $font-sf-med, arial, Helvetica, sans-serif; }
%sfBold { font-family: $font-sf-bold, arial, Helvetica, sans-serif; }


@mixin scss_fl { float: left; }
@mixin scss_fr { float: right; }
@mixin scss_fl-m ($float) { float: $float; }
@mixin scss_fl-n ($float) { float: none; }

@mixin scss_maxw($device-width) {
    @media only screen and (max-width: $device-width) { @content; }
}

@mixin scss_minw($device-width) {
    @media only screen and (min-width: $device-width) { @content; }
}

@mixin scss_maxw-minw($max-width, $min-width) {
    @media only screen and (max-width: $max-width) and (min-width: $min-width) { @content; }
}

@mixin scss_minw-maxw($min-width, $max-width) {
    @media only screen and (min-width: $min-width) and (max-width: $max-width) { @content; }
}

@mixin scss_bg_img($image: "") {
    @if $image=="" {
        background-color: transparent;
    }
    @else {
        background-image: url('../images/'+$image);
    }
    @content;
}

@mixin scss_fs($font-size, $font-size-unbase: "") {
    @if $font-size-unbase != '' {
        font-size: $font-size/$font-size-unbase * 1em;
    } @else {
        font-size: scss_calcEm($font-size);
    }
}

@function scss_calcEm($font-size, $base: 14) {
    @return $font-size/$base * 1em;
}