/*
    @created: ThuanDD3
    @dated: jul 17, 2019
*/

@import "_ola_element";

.modal-custom {
    @extend %sfReg;

    @include scss_minw(1024px) {
        font-size: 14px;
    }

    padding: 0 !important;
    font-size: 10px;

    .modal-dialog {

        // // -------- SCREEN
        // @include scss_minw(320px) {
        //     max-width: calc(100% - (40px));
        // }

        // @include scss_minw(768px) {
        //     max-width: calc(100% - (70px));
        // }

        // @include scss_minw(1280px) {
        //     max-width: 1170px;
        // }

        // -------- CONTENT
        .modal-content {
            border: none;
        }

        .modal-header {
            // @include scss_minw(1024px) {
            //     // min-height: 205px;
            //     background-position: center center;
            // }

            // min-height: 150px;
            border: none;
            padding: 40px 16px;
            align-items: center;

            h5 {
                font-size: 18px !important;
                font-weight: bold;
                text-align: center;
            }

            @include scss_bg_img('background/bg-popup.jpg') {
                background-size: cover;
                background-position: right center;
                background-attachment: scroll;
                background-repeat: no-repeat;
            }

            .modal-title {
                // font-size: 38px;
                @include scss_fs(38);
                margin: 0 auto;
                text-align: center;
                @extend %sfBold;

                span {
                    color: #dd6436;
                }
            }

            .close {
                @include scss_minw(1025px) {
                    width: 48px;
                    height: 48px;
                    margin: -21px -25px 0px 0;
                    @include scss_fs(20);
                }

                width: 40px;
                height: 40px;
                margin: -20px -20px 0 0;
                padding: 0;
                position: absolute;
                top: 0;
                right: 0;
                background: #ffffff;
                border-radius: 50%;
                opacity: 1;
                font-weight: normal;
                outline: none;
                @include scss_fs(24);
                @extend %sfReg;

                span {
                    position: relative;
                    top: 0px;
                }
            }
        }

        .modal-body {
            padding: 0
        }

        .record-wrap {
            max-height: 400px;
            overflow-y: auto;
            counter-reset: my-sec-counter;

            .item {
                background-color: #fafafa;

                &.item-sepe {
                    background-color: #ffffff;
                }

                .item-wrap {
                    @include scss_minw(320px) {
                        padding: 9px 5px 10px;
                    }

                    @include scss_minw(1024px) {
                        padding: 9px 20px 10px;
                    }

                    max-width: 940px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin:0 auto;
                    padding: 9px 20px 8px;
                }
                .item-col1 {
                    @include scss_minw(768px) {
                        padding-left: 20px;
                    }

                    width: 15%;
                    padding-left: 10px;
                    // font-size: 25px;
                    font-weight: bold;
                    @include scss_fs(18);
                    @extend %sfBold;
                    color: #dd6436;
                }

                .item-col2 {
                    width: 15%;
                    text-align: center;
                    @include scss_fs(22);
                    @extend %sfMed;

                    p:before {
                        counter-increment: my-sec-counter 1;
                        content: ""counter(my-sec-counter);
                    }

                    p {
                        @include scss_minw(1024px) {
                            width: 41px;
                            height: 41px;
                            padding: 5px 0;

                        }

                        display: inline-block;
                        padding: 3px 0;
                        width: 30px;
                        height: 30px;
                        background-color: #3078cc;
                        color: #fff;
                        border-radius: 50%;
                        text-align: center;
                    }
                }

                .item-col3 {
                    width: 65%;
                    // font-size: 24px;
                    // @include scss_fs(24);
                    font-size: 14px;
                    color: #515151;
                }

                .item-col4 {
                    width: 5%;
                    color: #dd6436;
                    vertical-align: middle;

                    i {
                        @include scss_minw(1024px) {
                            line-height: 40px
                        }

                        font-size: 15px;
                        line-height: 28px;

                    }
                }
            }

        }
    }

}