/// START RANKING
.container-custom {
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
}
.content {
  background-color: #efefef !important;
  padding: 8px 16px !important;
  flex: 1 1 auto !important;
  padding-bottom: 48px !important;
  .paging {
    padding: 8px !important;
  }
  .breadcrumb {
    background-color: transparent !important;
  }

  .info-self {
    background-image: url("../images/icons/shoe_top.png");
    background-repeat: no-repeat;
    background-position: left top;
  }

  .award {
    ul {
      list-style-type: none;
    }

    li {
      color: $cl-or;
      width: fit-content;
      text-align: center;
      font-weight: 500;
      padding: 4px 20px;
      border-radius: 999px;
      background-color: $cl-or-2;
      display: inline-block;
      margin: 8px 8px 0 8px;
    }
  }

  .list_won {
    background: url("../images/background/bg-list.png") no-repeat;
    background-color: transparent !important;
    background-size: cover;
    text-align: center;
  }

  .info {
    background-color: $clw !important;
    color: #838486;

    .img_self {
      width: 100%;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      display: block;

      img {
        width: 60px;
        height: auto;
      }
    }

    p {
      margin-bottom: 4px !important;
    }

    .user-name {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030 !important;
    }

    .name {
      @media screen and(max-width: 768px) {
        text-align: center;
      }

      @media screen and(min-width: 768px) {
        text-align: left;
      }
    }

    .sub-info {
      color: #838486;
      text-transform: uppercase;
      font-size: 12px;
    }

    .count {
      color: #959697;
    }

    .direct {
      width: 40px;
      height: auto;
      display: flex;
      align-content: center;
      justify-content: center;
    }

    .earth_cycle {
      width: 100%;
      display: flex;
      align-items: center;
      overflow-x: auto;
      scrollbar-width: thin !important;

      &::-webkit-scrollbar-thumb {
        background-color: $cl-only-c !important;
        border-radius: 10px;
        width: 10px !important;
      }

      &::-webkit-scrollbar {
        height: 6px !important;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent !important;
      }
    }

    .percent {
      margin-right: 49px;
      width: fit-content;
      text-align: center;

      &:last-child {
        margin-right: 0;
      }

      .earth {
        position: relative;
        z-index: 1;

        .img_earth_color {
          position: absolute;
          background-image: url("../images/icons/earth_color.png");
          top: 0;
          background-repeat: no-repeat;
          height: 63px;
          z-index: 2;
        }
      }
    }
  }

  .tag {
    flex: 0 0 auto;
    width: 37px;
    height: 48px;
    margin-right: 12px;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;

    .rank_number {
      line-height: 16px;
      font-weight: 400;
      color: $clw;
      top: 10px;
      width: 100%;
      text-align: center;
      position: absolute;
      margin-bottom: 0 !important;
    }

    p {
      margin-bottom: 0 !important;
    }
  }

  .tag-top3 {
    background-image: url("../images/icons/bow_blue.png");
  }

  .tag-near {
    background-image: url("../images/icons/bow_gray.png");
  }

  .tag-self {
    background-image: url("../images/icons/bow_self.png");
  }

  .top_ten {
    .card-body {
      width: fit-content !important;
      margin: 0 auto;
    }

    .card-top {
      position: relative;
      z-index: 1;

      &-img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }

      .img-personal {
        width: 140px;
        height: 140px;
        display: block;
        margin: auto;
      }
    }

    .overlay_img {
      height: 80px;
      width: 100%;
      position: absolute;
      z-index: 2;
      bottom: 0;
      background-color: rgba($color: #000000, $alpha: 0.5);
    }

    p {
      margin-bottom: 2px !important;
    }

    .page_arrow {
      .icon {
        cursor: pointer;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: solid 2px $textSecondary;
      }
    }

    .personal-info {
      flex: 1 1 auto;
      color: $textSecondary !important;

      p {
        margin-bottom: 0 !important;
      }
    }
  }
}

.infomation {
  .item {
    width: 40px;
    height: 40px;
    padding: 4px 6px 6px 6px;
    border-radius: 4px;
    border: solid 1px $textThird;

    &-icon {
      width: 100%;
      height: auto;
    }

    .icon-save {
      width: 80% !important;
    }
  }

  .item-save {
    background-color: #e1e1e1;
    position: relative;
  }

  .avatar {
    position: relative;

    .img_fix {
      position: absolute;
      bottom: -8px;
      right: 16px;
      background-color: #949494;
      border-radius: 50%;
      border: solid 2px $clw;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 22px;
        height: 22px;
        object-fit: cover;
      }
    }
  }
}

.form_info {
  .input_info {
    background-color: #efefef !important;
  }
}

.link_copy {
  border: solid 1px $textSecondary;
  padding: 8px 20px;
  border-radius: 999px;
}

.social {
  button {
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border: none;
    background-color: #efefef !important;

    &:hover {
      background-color: #e0e0e0 !important;
      transition: 0.3 all ease-in;
    }

    &:focus {
      outline: 0;
    }
  }
}

.hr-custom {
  border-top-color: #e1e1e1 !important;
  width: 60px;
}

.content-ranking {
  .info {
    background-color: $clw;
  }

  nav {
    .active {
      border-bottom: solid $cl-or 4px !important;
      font-weight: 500;
      color: $textSecondary !important;
    }
  }

  .menu-nav {
    padding: 12px 8px;
    border: none !important;

    background-color: $clw !important;
    margin-right: 32px;
    color: $textThird !important;
  }

  .rank {
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50%;
    text-align: center;
    background-color: #f1f1f1;
  }

  .rank-active {
    color: $clw;
    background-color: #3078cc !important;
  }

  .img-ranking {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }

  table {
    background-color: $clw !important;
    margin-bottom: 0 !important;
    tr:not(:first-child) {
      border-top: solid 1px #c5c5c5;
    }

    td {
      text-align: center;
      vertical-align: middle !important;
      border: none;
    }
  }

  .table_personal {
    td {
      &:first-child {
        width: 100px !important;
        text-align: center;
      }
    }
  }

  .table_activity {
    td {
      position: relative;
    }

    .fa-circle {
      color: $cl-or;
      margin-right: 8px !important;
      position: absolute;
      top: calc(50% - 8px);
      left: 0;
    }

    .dot-active {
      color: #4fc853;
    }
  }
}

// .page-custom {
//     background-color: #e1e1e1 !important;
// }
// .page-link {
//     background-color: transparent !important;
// }
.page_number {
  background-color: #e1e1e1;
  line-height: 32px;
  height: 32px;
  text-align: center;
  width: 32px;
}
.page_number a,
.page_icon a {
  color: $textColorPage !important;
}

//END RANKING

// SEARCH TEAM
.table_search {
  tr {
    border: none;
  }

  td {
    border: none !important;
    text-align: center;
  }

  td:not(:first-child) {
    border-right: solid 1px #cccccc !important;
  }
}

// END SEARCH TEAM

//RULES
.rules {
  &_block {
    margin-top: 24px;

    .title-hl {
      color: $primaryColorPage;
      margin-bottom: 16px;
    }
  }
}

// END RULES

//Back to top
.back_to_top {
  display: inline-block;
  width: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 78px !important;
  right: 50px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  border-bottom: 31px solid $footerColor;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  width: 70px;
  color: $clw;
  font-size: 18px;
  color: $clw;

  i {
    top: 8px;
    right: -3px;
    position: absolute;
  }
}

.back_to_top:hover {
  cursor: pointer;
}

.back_to_top:active {
}

.back_to_top.show {
  opacity: 1;
  visibility: visible;
}

//Back to top

/// RANKING
.table_center {
  th:not(:first-child) {
    text-align: center;
  }

  .name_center {
    flex: 1 1 auto;
    text-align: left;
    padding-left: 32px;
  }

  .rank {
    flex: 0 0 auto;
    font-weight: 500;
  }

  td {
    font-weight: 400 !important;
    padding: 16px 12px !important;
  }
}

.select_table {
  text-align-last: center;
  padding: 4px 24px;
  width: fit-content;
  border-radius: 999px;
  font-size: 14px;
  line-height: 14px;
  color: $clw;
  outline: none;
  background-color: $cl-or;
  height: 36px;
  font-weight: 500;

  option {
    &:hover {
      color: $clw !important;
      background-color: $cl-or !important;
    }
  }
}

// modal

.detail_content {
  .header_detail {
    min-height: auto !important;
    background: url("../images/background/bg-list.png") no-repeat;
    background-size: cover;
    background-position: top;
  }

  .detail_personal {
    thead tr {
      background-color: $cl-or !important;
      color: $clw !important;
    }

    td,
    th {
      text-align: center !important;
      padding: 8px;
      border: none !important;
    }

    td {
      font-size: 14px;
      font-weight: 500;
      padding: 16px 8px !important;
    }
  }
}
.breadcrumb {
  margin-bottom: 0 !important;
}
@media screen and (min-width: 768px) {
  .sidebar_title {
    font-size: 20px;
  }
  .sidebar_sub_title {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .sidebar_title {
    font-size: 18px;
  }
  .sidebar_sub_title {
    font-size: 15px;
  }
}
